container_commands:
  01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
    leader_only: true
  02_npm_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
    leader_only: true
  03_debug:
    command: "echo $RDS_HOSTNAME"
  04_migrate_db:
    command: "sudo DB_HOST=${RDS_HOSTNAME} DB_PORT=${RDS_PORT} DB_NAME=${RDS_DB_NAME} DB_USER=${RDS_USERNAME} DB_PASSWORD=${RDS_PASSWORD} npm run db:migration:run"
    leader_only: true
